.navbar {
  display: flex;
  height: 4.5rem;
  padding: 0rem 0.4375rem;
  align-items: center;
  justify-content: space-between;
  background-color: #43eb61;
  background-position: 50% 40%;
}

.navbar-button{
  width: 100%;
  height: 100%;
  color: #43eb61;
}

.btn-opensidebar {
  background-color: #fff;
  color: rgb(240, 0, 0);;
}