<div [ngClass]="['box-modal']">
  <h1 mat-dialog-title>Importar contactos</h1>

  <div [ngClass]="['box-icon']">
    <mat-icon [ngClass]="{'icon': true, 'error-icon': (validate=='error'), 'success-icon': (validate=='success') }">
      {{name_icon}}
    </mat-icon>
    <div [ngClass]="{'description': true, 'error-text': (validate=='error'), 'success-text': (validate=='success')}">
      {{description}}
    </div>
  </div>
 
  <form
    [ngClass]="['form']"
    [formGroup]="formReactive"
    (ngSubmit)="onSubmit(formReactive.value)"
  >
  
    <div [ngClass]="['col-12']">
      <input type="file" id="file" [ngClass]="['input-file']" multiple="multiple" (change)="onFileChanged($event)">
      <label for="file" [ngClass]="['input-file-text']">
        <mat-icon [ngClass]="'iconx'">file_upload</mat-icon>
        Subir archivo
      </label>
    </div>
    
    <button 
      mat-button 
      mat-dialog-close
      mat-raised-button 
      color="btn-submit" 
      [ngClass]="['col-12']"
      [type]="'submit'"
      [disabled]="!formReactive.valid || (validate=='error')">
      Guardar
    </button>
  </form>

</div>

