<div [ngClass]="['card']">
  <!-- ------------------------------------------------ FORM ------------------------------------------------ -->
  <form [ngClass]="['form','sm:form','md:form','row','col-12']">
    <div [ngClass]="['md:input-search','col-12','sm:col-12','md:col-6']">
      <mat-form-field appearance="legacy" [ngClass]="['col-12']"> <!--formControlName="addressee"-->
        <mat-label>Destinatario</mat-label>
        <input 
          matInput placeholder="Destinatario" 
          id="addressee"
          maxlength="50" 
          [ngClass]="['background']"
        />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </div>
    <div [ngClass]="['btn-1','sm:btn-1','col-12','sm:col-6','md:col-3']">
      <button mat-raised-button color="btn-search">Buscar</button>
    </div>
    <div [ngClass]="['btn-2','sm:btn-2','col-12','sm:col-6','md:col-3']">
      <a [ngClass]="['link-new-message']" [routerLink]="['/admin/sending/create']">
        <button mat-raised-button color="link-text">Nuevo mensaje</button>
      </a>
    </div>
  </form>
  <!-- ------------------------------------------------ TABLE ------------------------------------------------ -->
  <div [ngClass]="['mat-elevation-z8','container','lg:container','xl:container']" tabindex="0">
    <table [ngClass]="['table','lg:table','xl:table']" mat-table [dataSource]="dataSource">
      <!-- Colum 1 -->
      <ng-container matColumnDef="id" [sticky]="true">                    
        <th *matHeaderCellDef [ngClass]="['column','header-id']">ID</th>
        <td *matCellDef="let element" [ngClass]="['column','content-id']">{{element.messageId}}</td>
      </ng-container>
      <!-- Colum 2 -->
      <ng-container matColumnDef="message">
        <th *matHeaderCellDef [ngClass]="['column','header-message']">Mensaje</th>
        <td *matCellDef="let element" [ngClass]="['column','content-message']">{{element.message}}</td>
      </ng-container>
      <!-- Colum 3 -->
      <ng-container matColumnDef="destinations">
        <th *matHeaderCellDef [ngClass]="['column','header-destinations']">Destinatario</th>
        <td *matCellDef="let element" [ngClass]="['column','content-destinations']">{{element.destinations}}</td>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>
  <mat-paginator [ngClass]="['paginator']" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
 
</div>